/*CSS Rule*/

/*body { Selector
  background-color:#FFFF33;
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}
*/

* { /*[*] Universal Selector = select all the elements and apply the css rule*/
  font-family: 'Roboto', sans-serif;
}


h1,h2 {
  font-family: 'Montserrat', sans-serif;
}

img {
  height: 250px;
  width: 250px;
}


/*.container-fluid { */ /*Selecting an element that has a class attribute and its value is container*/
/*background-color: pink; 
}*/

#landing { /*select the element that has ID attribute and a value called landing*/
  height: 80vh; /*[vh] = height of the screen*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gallery {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 75vh;
}

ul {
  list-style: none;
  padding: 0;

}

h2 {
  color: #007bff;
}

.tools {
  padding: 25px; /*spaces inside our elements*/
  height: 200px;
  border: 5px solid #f2f2f2; /*border lines*/
  width: 75%;
  margin: 20px;
  color: white;
}